*{
    margin: 0;
    
}
.section{
    padding-left: 10rem;
    padding-right: 10rem;
  
   
}

header{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
}

header ul{
    padding: 3rem 0;
}

header a{
    color: #1d184e;
    text-decoration: none;
    padding: 0 2.5rem;
    font-size: 1.5rem;
}

header a:hover{
    text-decoration: underline;
}

.box{
    background-color: lightgray;
    position: absolute;
    top: 0;
    left: 0;
    width: 36rem;
    height: 36em;
}


.name{
    position: relative;
    left: 10rem;
    font-size:5rem ;
    color: #1d184e;
    font-weight: 700;
    z-index: 1;
    margin-top: 2.8em;
    margin-bottom: 20rem;
    height: auto;
    overflow: hidden;
    white-space: nowrap; 
    animation: 
    typing 3s infinite steps(40, end),
    blink-caret .75s step-end infinite;
  
}
@keyframes typing {
     from{
        width:0 ;
     }
     to{
        width: 100%;
     }
}
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color:#1d184e; }

}

.about{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    width: 65rem;
    height: 50rem;
    margin-bottom: 10rem;
}

.about-me h3{
  font-size: 1.5rem;
  padding: 12rem 0 0 2rem;
  color: #1d184e;

}

.about-me h2{
    font-size: 4rem;
    padding: 4rem 0 0 6rem;
    color: #1d184e;
    overflow: hidden;
    white-space: nowrap; 
    animation: 
    typing 3s infinite steps(40, end),
    blink-caret .75s step-end infinite;
}
@keyframes typing {
    from{
       width:0 ;
    }
    to{
       width: 100%;
    }
}
@keyframes blink-caret {
   from, to { border-color: transparent }
   50% { border-color:#1d184e; }

}

.about-me p{
    padding: 3rem ;
    font-size: 1.7rem;
    line-height: 2rem;
    color:rgb(24, 24, 24);
    font-weight: 500;
}


.project{
    font-size: 3rem;
    color: #1d184e;
    text-align: center;
}


.work-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left img{
    width: 50%;
    margin: 8rem 0 2rem 8rem;
}

.para{
    margin:0 3rem 0 6rem ;
    font-size: 1.3rem;
    color: #1d184e;

}

.right img{
    width: 50%;
    margin: 8rem 0 2rem 0;
}

.para-right{
    font-size:1.3rem ;
    margin-right: 5rem;
    color: #1d184e;
}

.footer{
    margin-top: 10rem;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: lightgray;
    text-align: center;
}

.img-container{
    padding: 2rem 0;
}

.footer-navbar{
    padding: 5rem 0;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.footer a{
    color: #1d184e;
    text-decoration: none;
    padding: 0 5rem;
    font-size: 1.5rem;
}

.footer-navbar a:hover{
    text-decoration: underline;
}

.copyright{
    padding: 6rem 0;
    color: #1d184e;
    font-size: 1.1rem;
}