.container{
    display: flex;
    justify-content: center;
}

.border{
    border: 2px black solid;
    text-align: center;
    margin: auto;
    width: 33.3%;
    
}

.circle{
    margin: 40px auto ;
    border: 2px solid black;
    border-radius: 50%;
    text-align: center;
    width:400px ;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
