*{
    margin: 0;
    padding: 0;
}


.container {
    display: grid;
    background-color:white;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.text{
    border: 2px black solid;
    text-align: left;
    margin: 20px 20px;
    padding-left: 20px;
    list-style: inside;
    font-size: 25px;
   line-height: 35px;
}

.animation{
animation:myScroll;
animation-duration: 5s;
animation-iteration-count: infinite;
list-style:none ;
font-weight: bold;
}

@keyframes myScroll{
    from{margin-left:70%;}
    to{margin-right: 70%;}
}



.list1{
    padding-bottom: 10px;   
}

.points{
    list-style:decimal;
    padding-left: 20px;
   
}


